body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
button {
    padding: 10px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
#carritoLista {
    list-style: none;
    padding: 0;
}
#carritoLista li {
    background-color: #f0f0f0;
    margin: 5px 0;
    padding: 10px;
}

.item-carrito {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.boton-eliminar {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: red;
}
